{% extends 'core/base.html' %}
{% load static %}

{% block extra %}

{% endblock %}

	{% block superior %}
	
	<!-- esse bloco está à cima do menu -->
	
	{% endblock %} 

	<!-- o menu está no base.html e aparece aqui -->

	{% block conteudo %}

	<div class="container-fluid" style="margin-top: 2%">
		<div class="container-fluid">
			<div class="row">
				<!-- COLUNA DA ESQUERDA -->
				<div class="col-sm-2">
					<ul class="list-group">
						<li class="list-group-item">
							<a href="{% url 'dashboard_client:index' %}">
								Meus Pedidos
							</a>
						</li>
						<li class="list-group-item">
							<a href="{% url 'dashboard_client:index_art' %}">
								Criação de Arte
							</a>
						</li>
						<li class="list-group-item">
							<a href="{% url 'accounts:my_data' %}">
								Dados Cadastrais
							</a>
						</li>

					</ul> 
				</div>
				{% block central_column %}
				<!-- COLUNA DO MEIO -->
				<div class="col-sm-9">
					{% block dashboard_title %}
					<h5>Área do Cliente -> Meus Pedidos</h5>
					{% endblock %}
					<div class="container" style="width: 100%">
		              {% if messages %}
		                {% for message in messages %}
		                    <div class="alert alert-success alert-dismissable">
		                      <button type="button" class="close" data-dismiss="alert">&times;</button>
		                      {{ message }}
		                    </div>
		                {% endfor %}
		              {% endif %}
					</div>

					{% if data %} <!-- test if data went sended -->
					{% if data.order %}	
						<h3>
							Data do Pedido: {{ data.order.date }}
						</h3>
						
						<div class="container" >
						<!-- List of the impress -->

						<table class="table">
						{% for item in data.orderItemImpress_list %}
							<thead>
								<tr>
									<th>Descrição</th>
									<th>Valor R$</th>
									<th>Arte</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										{{ item.service.description }}
									</td>
									<td>{{ item.service.value }}</td>
																	
									<td>
										{% if item.art %}
										<a href="{% url 'dashboard_client:send_logo' item.id %}">
											Alterar
										</a>
										{% else %}
											{% if item.creation_art_solicited %}
												<strong>Solicitado</strong>
											{% else %}
											<a href="{% url 'dashboard_client:send_logo' item.id %}">
												<button class="btn btn-primary">
													Enviar / Solicitar
												</button>
											</a>
											{% endif %}
										{% endif %}

									</td>
									
									<td>
										<a href="{% url 'dashboard_client:delete_oii' item.id %}"
										title="Deletar esse ítem do pedido">
											<button class="btn btn-danger">Deletar</button> 
										</a>
									</td>

								</tr>
								
							</tbody>
						{% endfor %}
						</table>
						<strong>Total R$: {{ data.total }}</strong>
						<p></p>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4>O endereço de entrega é igual ao endereço do cliente?</h4>
							</div>
						  	<div class="panel-body">

						  		{% if data.order.delivery_address_is_the_same %}
								<div class="radio">
									<label><input type="radio" 
										name="delivery" checked="checked"
										onclick="delivery({{data.order.id}}, 0)">
										Sim
									</label>
								</div>
								<div class="radio"  
								onclick="delivery({{data.order.id}}, 1)">
									<label><input type="radio" 
										name="delivery">Não
									</label>
								</div>

								{% else %}

								<div class="radio">
									<label><input type="radio" 
										name="delivery"
										onclick="delivery({{data.order.id}}, 0)">
										Sim
									</label>
								</div>
								<div class="radio"  
								onclick="delivery({{data.order.id}}, 1)">
									<label><input type="radio" 
										name="delivery" checked="checked">
										Não
									</label>
								</div>
								<div class="panel-body">
									<h3>Endereço de Entrega</h3>
									<form action="{% url 'dashboard_client:save_address_delivery' %}"
									method="post">
									{% csrf_token %}
										<table class="table">
											<tr>
												<td>Logradouro</td>
												<td><input name="logradouro"
													value="{{data.order.logradouro_delivery}}">
												</td>
											</tr>
											<tr>
												<td>Número</td>
												<td><input name="numero"
													value="{{data.order.numero_delivery}}"></td>
											</tr>
											<tr>
												<td>CEP</td>
												<td><input name="cep"
													value="{{data.order.cep_delivery}}"></td>
											</tr>
											<tr>
												<td>Complemento</td>
												<td><input name="complemento"
													value="{{data.order.complemento_delivery}}">
												</td>
											</tr>
											<tr>
												<td>Bairro</td>
												<td><input name="bairro"
													value="{{data.order.bairro_delivery}}"></td>
											</tr>
											<tr>
												<td>Cidade</td>
												<td><input name="cidade"
													value="{{data.order.cidade_delivery}}"></td>
											</tr>
											<tr>
												<td>Estado</td>
												<td><input name="estado"
													value="{{data.order.estado_delivery}}"></td>
											</tr>
											<tr>
												<td colspan="2">
													{% if data.number_field_ad == 0 %}
													<input type="submit" 
													value="Salvar"
													title="Click aqui para salvar o endereço de entrega">
													{% else %}
													<input type="submit" 
													value="Atualizar" 
													title="Click aqui para atualizar o endereço de entrega">
													{% endif %}
												</td>
											</tr>
											
										</table>
										
										<input type="hidden" name="order_id" 
										value="{{data.order.id}}">
									</form>
									
								</div>

								{% endif %}
						  	</div>
						</div>
						
						<!-- butoons here -->
						<div class="container">
						  	<a href="{% url 'core:index' %}">
							<button type="button" 
						  	class="btn btn-primary">
								Continuar comprando
							</button>
							</a>
							<button type="button" 
						  	class="btn btn-primary">
								Finalizar Pedido
							</button>

						  	<a href="{% url 'dashboard_client:cancel_orderImpress' data.order.id %}">
						  	<button type="button" 
						  	class="btn btn-danger">
								Cancelar
							</button>
							</a>

						</div>
						</div>
						
					{% endif %}

					{% else %}
						<i style="color: red">Não há pedido ativo</i>
					{% endif %} <!-- test if data went sended -->

					

				</div>
				{% endblock %}
			</div>

		</div>
	</div>
	{% endblock %} <!-- fim do bloco conteudo -->

	<!-- roda pé que está na página base.html aparece aqui -->


