{% extends 'core/base.html' %}
{% load static %}
<!-- container geral -->
<div class="container-fluid">
	{% block superior %}
	
	<!-- esse bloco está à cima do menu -->
	
	{% endblock %} 

	{% block conteudo %}

	<div class="container-fluid" style="margin-top: 2%">
		<div class="container-fluid">
			<div class="row">
				<!-- COLUNA DA ESQUERDA -->
				<div class="col-sm-2">
					<ul class="list-group">
						{% for category in categories %}
						<!-- acrescentar a class active -->
						<li class="list-group-item">
							<a href="#">{{ category }}</a>
						</li>
						{% endfor %}
					</ul> 
				</div>
				<!-- COLUNA DO MEIO -->
				<div class="col-sm-9">
					<h2>{{ label_category }}</h2>
					<div class="row">
						{% for product in products %}
						<div class="col-sm-4">
							<img src="{{ product.image.url }}">
							<div>{{ product.description }}</div>
							<div>Valor R$ {{ product.value }}</div>
							<div><a href="#">Colocar no Carrinho</a></div>
							
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>