{% extends 'dashboard_admin/index.html' %}

{% block extra %}
{% load da_tags %}
{% endblock %}

{% block central_column %}
<!-- COLUNA DO MEIO -->
<div class="col-sm-9">
	{% block dashboard_title %}
	<h5>Área Administrativa -> Membros da Equipe</h5>
	{% endblock %}

	<div class="container" style="width: 100%">
	  {% if messages %}
	    {% for message in messages %}
	        <div class="alert alert-success alert-dismissable">
	          <button type="button" class="close" data-dismiss="alert">&times;</button>
	          {{ message }}
	        </div>
	    {% endfor %}
	  {% endif %}
	</div>
	
<!-- datatable -->
<div class="panel-body">
  <table id="table" class="display" cellspacing="0" 
        width="100%">
    <thead>
      <tr>
        <th>Membro</th>
        <th>E-Mail</th>
        <th>Telefone</th>
        <th>Status</th>
        <th>Data de Cadastro</th>
      </tr>
    </thead>

    <tfoot>
      <tr>
        <th>Membro</th>
        <th>E-Mail</th>
        <th>Telefone</th>
        <th>Status</th>
        <th>Data de Cadastro</th>
      </tr>
    </tfoot>

    <tbody>
		{% for member in all_members %}

		<tr>
			<td style="text-align: center;">
				<a href="{% url 'dashboard_admin:member_detail' member.id %}"
				title="Detalhes">
					{{ member }}
				</a>
			</td>
			<td style="text-align: center;">
				{{ member.email }}
			</td>
			<td style="text-align: center;">
				{% if member.telefone %}
				{{ member.telefone }}
				{% else %}
				<i style="color: red">Não definido</i>
				{% endif %}
			</td>
			<td style="text-align: center;">
				{% is_active member.is_active %}
			</td>
			<td style="text-align: center;">
				{{ member.date_joined }}
			</td>
			
		</tr>

		{% endfor %}    
    </tbody>
  </table>
</div>
<!-- fim datatable --> 

</div>
{% endblock %}