{% extends 'dashboard_admin/index.html' %}

{% block extra %}
{% load da_tags %}
{% endblock %}

{% block central_column %}
<div class="col-sm-9">
{% block dashboard_title %}
<h5>Área Administrativa -> Pedidos de Impressão -> Detalhes do 
Pedido</h5>
{% endblock %}
<table class="table">
	<tr>
		<td>Data</td>
		<td>{{ orderimpress.date }}</td>
	</tr>
	<tr>
		<td>Valor R$</td>
		<td>{{ orderimpress.value }}</td>
	</tr>
	<tr>
		<td>Status</td>
		<td>{% show_status orderimpress.status %}</td>
	</tr>
	<tr>
		<td>Cliente</td>
		<td>{{ orderimpress.user }}</td>
		<td>
			<button type="button" class="btn btn-primary" data-toggle="modal" 	data-target="#myModal">
    			Informações do Cliente
  			</button>
			
		</td>
	</tr>
</table>
<h5>Ítens do Pedido</h5>
<table class="table">
	{% for item in itens_list %}
	<tr><td colspan="2"></td></tr>
	<tr>
		<td>Descrição</td>
		<td>{{ item.service }}</td>
	</tr>
	<tr>
		<td>Arte</td>
		<td>
			{% if item.art %}
			<img src="{{ item.art.url }}">
			{% else %}
				{% if item.creation_art_solicited %}
				<strong>Solicitado</strong> em {{ item.date_solicitation }}
				{% else %}
				<i style="color: red">Não enviado</i>
				{% endif %}
			{% endif %}
		</td>
	</tr>
	<tr>
		<td>Observações</td>
		<td>
			{% if item.observations %}
			{{ item.observations }}
			{% else %}
			<i>O cliente não fez nenhuma observação</i>
			{% endif %}
		</td>
	</tr>
	<tr>
		<td>Modelo</td>
		<td>
			{% if item.model %}
			<a href="{{ item.model.url }}" download>{{ item.model.url }}</a>
			{% else %}
			<i style="color: red">Não enviado</i>
			{% endif %}			
		</td>
	</tr>
	<tr>
		<td>Imagem exemplo 1</td>
		<td>
			{% if item.image_example1 %}
			<a href="{{ item.image_example1.url }}" download>
				{{ item.image_example1.url }}
			</a>
			{% else %}
			<i style="color: red">Não enviado</i>
			{% endif %}
		</td>
	</tr>
	<tr>
		<td>Imagem exemplo 2</td>
		<td>
			{% if item.image_example2 %}
			<a href="{{ item.image_example2.url }}" download>
				{{ item.image_example2.url }}
			</a>
			{% else %}
			<i style="color: red">Não enviado</i>
			{% endif %}
		</td>
	</tr>
	<tr>
		<td>Imagem exemplo 3</td>
		<td>
			{% if item.image_example3 %}
			<a href="{{ item.image_example3.url }}" download>
				{{ item.image_example3.url }}
			</a>
			{% else %}
			<i style="color: red">Não enviado</i>
			{% endif %}
		</td>
	</tr>
	<tr>
		<td>Imagem exemplo 4</td>
		<td>
			{% if item.image_example4 %}
			<a href="{{ item.image_example4.url }}" download>
				{{ item.image_example4.url }}
			</a>
			{% else %}
			<i style="color: red">Não enviado</i>
			{% endif %}
		</td>
	</tr>
	<tr><td colspan="2"></td></tr>
	{% endfor %}
</table>

<h5>Endereço de entrega</h5>
{% if orderimpress.delivery_address_is_the_same == True %}
<table class="table">
	<tr>
		<td>Logradouro</td>
		<td>
			{% if orderimpress.user.logradouro %}
			{{ orderimpress.user.logradouro }}
			{% else %}
			<i style="color: red">Não definido</i>
			{% endif %}
		</td>
	</tr>
	<tr>
		<td>Número</td>
		<td>
			{% if orderimpress.user.numero %}
			{{ orderimpress.user.numero }}
			{% else %}
			<i style="color: red">Não definido</i>
			{% endif %}
		</td>
	</tr>
	<tr>
		<td>CEP</td>
		<td>
			{% if orderimpress.user.cep %}
			{{ orderimpress.user.cep }}
			{% else %}
			<i style="color: red">Não definido</i>
			{% endif %}

		</td>
	</tr>
	<tr>
		<td>Complemento</td>
		<td>
			{% if orderimpress.user.complemento %}
			{{ orderimpress.user.complemento }}
			{% else %}
			<i style="color: red">Não definido</i>
			{% endif %}			
		</td>
	</tr>
	<tr>
		<td>Bairro</td>
		<td>
			{% if orderimpress.user.bairro %}
			{{ orderimpress.user.bairro }}
			{% else %}
			<i style="color: red">Não definido</i>
			{% endif %}
		</td>
	</tr>
	<tr>
		<td>Estado</td>
		<td>
			{% if orderimpress.user.estado %}
			{{ orderimpress.user.estado }}
			{% else %}
			<i style="color: red">Não definido</i>
			{% endif %}
		</td>
	</tr>
	
</table>
{% else %}
<table class="table">
	<tr>
		<td>Logradouro</td>
		<td>
			{% if orderimpress.logradouro_delivery %}
			{{ orderimpress.logradouro_delivery }}
			{% else %}
			<i style="color: red">Não definido</i>
			{% endif %}
		</td>
	</tr>
	<tr>
		<td>Número</td>
		<td>
			{% if orderimpress.numero_delivery %}
			{{ orderimpress.numero_delivery }}
			{% else %}
			<i style="color: red">Não definido</i>
			{% endif %}
		</td>
	</tr>
	<tr>
		<td>CEP</td>
		<td>
			{% if orderimpress.cep_delivery %}
			{{ orderimpress.cep_delivery }}
			{% else %}
			<i style="color: red">Não definido</i>
			{% endif %}
		</td>
	</tr>
	<tr>
		<td>Complemento</td>
		<td>
			{% if orderimpress.complemento_delivery %}
			{{ orderimpress.complemento_delivery }}
			{% else %}
			<i style="color: red">Não definido</i>
			{% endif %}
		</td>
	</tr>
	<tr>
		<td>Bairro</td>
		<td>
			{% if orderimpress.bairro_delivery %}
			{{ orderimpress.bairro_delivery }}
			{% else %}
			<i style="color: red">Não definido</i>
			{% endif %}
		</td>
	</tr>
	<tr>
		<td>Estado</td>
		<td>
			{% if orderimpress.estado_delivery %}
			{{ orderimpress.estado_delivery }}
			{% else %}
			<i style="color: red">Não definido</i>
			{% endif %}
		</td>
	</tr>
	
</table>
{% endif %}

<!-- The Modal -->
<div class="modal fade" id="myModal">
<div class="modal-dialog">
  <div class="modal-content">
  
    <!-- Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title">Informações do Cliente</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    
    <!-- Modal body -->
    <div class="modal-body">
      <table class="table">
      	<tr>
      		<td>E-Mail</td>
      		<td>{{ orderimpress.user.email }}</td>
      	</tr>
      	<tr>
      		<td>Telefone</td>
      		<td>
      			{% if orderimpress.user.telefone %}
      			{{ orderimpress.user.telefone }}
      			{% else %}
      			Não informado
      			{% endif %}
      		</td>
      	</tr>
      </table>
    </div>
    
    <!-- Modal footer -->
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
    
  </div>
</div>
</div>

</div>
{% endblock %}